.waiting {
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loader {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}

.graph-scale {
  background: #c6c6c6;
}

.graph-scale.active {
  background: #84c4ff;
}

.graph-delimeter {
  background: #c6c6c6;

  span {
    position: absolute;
    background: #c6c6c6;
    width: 1px;
    top: -20px;
    right: -15px;
    color: #0d6efd;
    color: #fff;
  }
}



