
.waiting {
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loader {
  //from {
  //  height: 0;
  //}
  //to {
  //  height: 150px;
  //}
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}

.graph-scale {
  background: #c6c6c6;
}

.graph-scale.active {
  background: #84c4ff;
}

.graph-delimeter {
  background: black;
}



