
$theme-colors: (
    "info": tomato,
    "danger": teal
);

.my-btn-gray,
.my-btn-small-gray {
  /* min-width: 52px;
  min-height: 52px; */
  /* margin: auto; */
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid #E8E8E8;
  background: #FFFF;
  color: #1C1C1C;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}

.my-btn-small-gray {
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}


.my-btn-blue,
.my-btn-catalog-blue,
.my-btn-find-blue {
  min-width: 52px;
  min-height: 52px;
  padding: 0 0.625rem;
  background: #0085FF;
  border: 1px solid #0085FF;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  justify-content: center;
  align-items: center;
}

.my-btn-catalog-blue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
  min-width: 256px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.my-btn-find-blue {
  border-radius: 0 8px 8px 0;
}