.my-btn-gray,
.my-btn-small-gray,
.item-button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  padding: 0.5rem 0.625rem;
  border-radius: 12px;
  gap: 8px;
  border: 1px solid #E8E8E8;
  background: #FFFF;
  color: #1C1C1C;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}

.my-btn-small-gray {
  gap: 0;
  border-radius: 8px;
}


.my-btn-blue,
.my-btn-catalog-blue,
.my-btn-find-blue {
  min-width: 52px;
  min-height: 52px;
  padding: 0.5rem 0.625rem;
  background: #0085FF;
  border: 1px solid #0085FF;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  justify-content: center;
  align-items: center;
}

.my-btn-catalog-blue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 256px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.my-btn-find-blue {
  border-radius: 0 8px 8px 0;
  width: 124px;
  padding: 0 32px;
}
.my-btn-find-blue:hover {
  background: #339DFF;
}

.item-button-circle {
  border-radius: 50%;
}
.counter-gray,
.counter-blue {
  margin-left: 10px;
  font-size: 14px;
  background: #E8E8E8;
  border-radius: 12px;
  padding: 0 4px;
}

.counter-blue {
  background: #0085FF;
}

.counter-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 23px;
  height: 20px;
  font-size: 0.5rem;
  background: #0085FF;
  border-radius: 90%;
  text-align: center;
  color: white;
  padding: 0 8px;
}

.my-btn-with-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  width: 108px;
  height: 40px;  
  background: #FFFFFF;  
  border: 1px solid #E8E8E8;
  border-radius: 8px;
}