$active: #0085FF;
$hoverColor: rgb(0 132 255 / 7%);

.ExplorerItem {
    display: flex;
    align-self: stretch;
    align-self: stretch;
    transition: all .3s;
    user-select: none;


    .ExplorerItemCheckbox {
        padding: 10px;
        transition: all .3s ease-in-out;
    }

    &:hover {
        background: $hoverColor;
    }

    &:hover {
        .hoverIcon {
            &:hover {
                background: $hoverColor;
            }
        }

    }




    .ExplorerItemTitle {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 10px;

        .title {
            color: #585757;
            flex-grow: 1;
        }

        .folderArrow {
            color: #969696;
            margin-top: -1px;
        }


        &.folder:hover {
            background: $hoverColor;
            
            .folderArrow {
                color: #0085FF;
            }
        }

    }

}


.ExplorerItemButton {
    transition: all .3s ease-in-out;
    border: 1px solid #fff0;
    border-radius: 3px;
    background: #fff0;
    padding: 0px 2px;

    width: 25px;
    height: 25px;
    text-align: center;

    &:hover {
        background: #0084ff30;
    }

    &:active {
        border: 1px solid $active;
    }
}