.navbar-my {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 12px;
    gap: 16px;
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
}