.input-find {
    // display: block;
    width: 613px;
    min-height: 52px;
    padding: 0 0.8rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #0085FF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px 0 0 8px;
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }