.filter-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 216px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.filter-chips {
    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 32px;
    max-width: 150px;
    padding: 4px;
    background: #F7F7F7;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    border-radius: 40px;
}

.filter-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    gap: 10px;
    width: max-content;
    min-height: 32px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    cursor: pointer;
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filter-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    min-height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 6px 10px;
    border: none;
    // cursor: pointer;

    span {
        text-align: start;
    }
}

.filter-search-title {
    font-size: 24px;
    font-weight: 500;
}

.filter-field.selected {
    border: 1px solid #0085FF;
    box-shadow: 0px 0px 2px 4px rgba(0, 133, 255, 0.16);
}

.filter-field.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 256px;
    height: 48px;
    background: #0085FF;
    border-radius: 8px;
    color: white;
    padding: 10px;
}

.filter-search-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #FFFFFF;
    width: 896px;
    height: 120px;
    padding: 16px 24px;
}

.filter-search-field {
    display: flex;
    align-items: center;
    width: 752px;
    height: 40px;
    border: 1px solid #0085FF;
    border-radius: 8px 0 0 8px;
    background: #FFFFFF;
    font-size: 16px;
    color: #585757;
    padding: 0 16px;
}

.filter-search-btn-find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;
    width: 96px;
    height: 40px;
    background: #0085FF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 0 8px 8px 0;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

.filter-field-child {
    justify-self: flex-end !important;
    width: 200px;
}

.filter-base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 48px 16px 16px;
    // gap: 24px;
    // margin: 24px 0;
    isolation: isolate;
    width: 623px;
    height: 574px;
    background: #FFFFFF;
}

.filter-language-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 28px;
    height: 376px;
    right: 12px;
    top: 24px;
}

.filter-chips-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 12px;
    width: 559px;
}

.filter-chips-item {
    display: flex;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;

    width: 74px;
    height: 32px;

    /* Light/Grayscale/Background Primary */

    background: #FFFFFF;
    /* Light/Grayscale/Border */

    border: 1px solid #E8E8E8;
    border-radius: 8px;
}