body {
  padding: 10%;
  background: #fff;
  padding: 2px;
}

$theme-colors: (
  "primary": #0085FF,
  "success": #00BA34,
  ) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px) !default;



@import "./button/button";
@import "./navbar/navbar";
@import "./input/input";
@import "./cart_item/cart_item";
@import "./table_cell/table_cell";
@import "./search/search";
@import "./basket/basket";


.footer-text {
  width: 360px;
}
.nav-item-my {
  list-style: none;
  font-size: 0.8rem;
}

.nav-item-my a {
  color: #585757;
}

nav-item-my:hover {
  color: #1C1C1C;
}

.font-size-20 {
  font-size: 1rem;
  color: #1C1C1C;
}

.font-size-16-black {
  font-size: 0.8rem;
  color: #1C1C1C;
}

.font-size-16-gray {
  font-size: 0.8rem;
  color: #585757;
}

.font-size-13 {
  font-size: 0.625rem;
  color: #969696;
}

.font-size-10 {
  font-size: 0.5rem;
}

.fw-500 {
  font-weight: 500;
}

.width-100 {
  width: 100%;
}

.h-52 {
  height: 52px;
}



.catalog-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.8rem;
  gap: 12px;
  background: #FFFFFF;
  border: 1px solid #DDDFE3;
  border-radius: 10px;
  max-width: 450px;
}

.catalog-menu-item-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.catalog-menu-item-img-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 1rem;
}

.catalog-menu-item-img-text .series {
  color: #585757
}

.catalog-menu-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E8E8E8;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06
  );
min-width: 40px;
min-height: 40px;
}

.catalog-menu-categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  max-width: 450px;
}

.catalog-menu-categories-item {
  display: flex;
  width: 200px;
}

.catalog-menu-categories-item span {
  color: #585757;
}

.catalog-menu-categories-item-button {
  border: none;
  background: none;
  color: #969696;
}

.catalog-menu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0.625rem 1.2rem 1.2rem;
  gap: 16px;
  border: 1px solid #E8E8E8;
  background: #FFFFFF;
  max-width: 1440px;
}

.input-button-unactive,
.input-button-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: #0085FF;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 0.8rem;
}

.input-button-unactive {
  background: #FFFFFF;
  color: black;
  border: none;
}

.input-square {
  width: 24px;
  height: 24px;
  border: 1px solid #E8E8E8;
}

.side-menu {
  background: #FFFFFF;
  width: 304px;
}

.footer-hr {
  width: 100%;
  border: 1px solid #E8E8E8;
}

.card-active {
  width: 160px;
  background: #FFFFFF;
  font-size: 0.8rem;
}

.card-unactive {
  width: 160px;
  background: #F7F7F7;
  font-size: 0.8rem;

}

.input-active,
.input-unactive {
  background: #FFFFFF;
  color: #1C1C1C;
  width: 20px;
  height: 20px;
}

.input-unactive {
  background: #F7F7F7;
  color: #585757;
}