body {
    padding: 10%;
    background: #fff;
    padding: 2px;
}

$theme-colors: (
    "primary": #0085FF,
    "success": #f00,
    ) !default;


$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1440px
) ;

.outline {
    outline: 1px solid #ccc;
}


@import "../node_modules/bootstrap/scss/bootstrap";