@import url('https://fonts.googleapis.com/css2?family=Jost:wght@Regular&display=swap');


@import './avy-styles';
@import "./kit";
@import "../node_modules/bootstrap/scss/bootstrap";

.btn {
  border-radius: 4px;
}

a {
  color: #797979;

  &:hover {
    color: #B20000;
  }
}

.red_hover {
  color: #000;

  &:hover {
    color: #B20000;
  }
}

.form-control:focus {
  color: #212529;
  border-color: #000000b5;
  box-shadow: none;
}


.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000000;
  border-color: #000000;

  &:hover {
    &:after {
      border: 2px solid #3dff16;
    }
  }
}




.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #353535;
  --bs-btn-hover-border-color: #343434;
  --bs-btn-focus-shadow-rgb: 0, 113, 217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5b5b5b;
  --bs-btn-active-border-color: #5d5d5d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #141e28;
  --bs-btn-disabled-border-color: #132739;
}

.btn-outline-secondary {
  --bs-btn-color: #000;
  --bs-btn-border-color: #E8E8E8;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #E8E8E8;
  --bs-btn-focus-shadow-rgb: 150, 150, 150;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #E8E8E8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #E8E8E8;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E8E8E8;
  --bs-gradient: none;
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}

z .btn-outline-primary {
  --bs-btn-color: #000000;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 0, 133, 255;
  --bs-btn-active-color: #424242;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #7a7a7a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: none;
  --bs-gradient: none;
}

.order {
  background: #FFFFFF;
  border: 2px solid #E8E8E8;
}

.order.ant-radio-wrapper-checked {
  background: #FFFFFF;
  border: 2px solid #484848;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px 1px 18px rgba(0, 0, 0, 0.06), 0px 6px 10px rgba(0, 0, 0, 0.08);
}

.card-item {
  background: #F7F7F7;
}

.card-item-active {
  background: #FFFFFF;
}

#chart-wrapper {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

#chart {
  border: solid;
  border-width: 0 0 2px 2px;
  border-color: #a3a3a3;
  /*  background: -webkit-linear-gradient(top,#1dd2af,#fff);*/
}

#xAxisValues {
  position: relative;

  span {
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }
}

// Labels below slider
.range-labels {
  display: flex;
  // justify-content: space-between;
  margin: 12px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    // justify-content: space-between;
    position: relative;
    text-align: center;
    color: #000;
    font-size: 14px;

    &::before {
      position: absolute;
      top: -19px;
      content: "";
      width: 9px;
      height: 9px;
      border: 2px solid #2a3846;
      background: #fff;
      border-radius: 50%;
    }
  }
}

.sliderr {
  height: 5px;
  background: #ddd;
  position: relative;
  // top: -4px;
  cursor: pointer;

  &:hover {
    background: #c6c6c6;

    .progres {
      background: #223b53;
    }

  }


  .progres {
    height: 5px;
    position: absolute;
    background: #405e7a;
    border-radius: 5px;
  }
}

// .range-input {
//   position: relative;
//   top: -1px;


.cs {
  position: absolute;
  height: 5px;
  background: none;
  appearance: none;
  cursor: pointer;
}

// }

.cs::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  appearance: none;
  pointer-events: auto;
  border: 2px solid #2c4257;
  background: #fff;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 4;

  &:hover {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 10px #1e3143;
    border: 4px solid #284867;
  }
}

.cs::-moz-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  appearance: none;
  pointer-events: auto;
  border: 2px solid #84c4ff;
  background: #fff;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 4;

  &:hover {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 10px #333435;
    border: 4px solid #3d3d3d;
  }
}

.range-min.cs::-webkit-slider-thumb {
  &:hover {
    // left: -3px;
  }
}

.range-min.cs::-moz-slider-thumb {
  &:hover {
    left: -3px;
  }
}

.range-max.cs::-webkit-slider-thumb {
  &:hover {
    right: -3px;
  }
}

.range-max.cs::-moz-slider-thumb {
  &:hover {
    right: -3px;
  }
}

.breakpoint {
  position: absolute;
  top: -2px;
  height: 9px;
  width: 9px;
  background: #fff;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  pointer-events: auto;
  z-index: 2;
  appearance: none;
  cursor: pointer;

  &:hover {
    height: 12px;
    width: 12px;
    border: 3px solid #a8a8a8;
    top: 6px;
  }
}

.breakpoint-active {
  border: 2px solid #0f1820;

  &:hover {
    height: 12px;
    width: 12px;
    border: 3px solid #292f34;
  }
}